<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GabbL - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  </head>
  <body>

    <!-- Navigation -->

    <nav>
      <div class="deep-orange darken-4 nav-wrapper">
        <a href="/" class="brand-logo center">GabbL.</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </body>
</html>
