<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GabbL - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>

    <!-- Navigation -->
    <nav>
      <div class="deep-orange darken-4 nav-wrapper">
        <a href="/" class="brand-logo center">GabbL.</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/user/signup">Signup</a></li>
          <li><a href="/user/login">Login</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><span class="first-name white-text">{{name}}</span></li>
          <li><i class="container material-icons small right">perm_identity</i></li>
        </ul>
      </div>
    </nav>

    <!--  -->
    <br>
    <div class="container">
      <div class="flexIt">

        <form class="" action="/logout" method="post">
          <button class="buttons btn deep-orange darken-4" type="submit" name="button">Logout</button>
        </form>

        <form class="flexIt" action="/post" method="post">
          <textarea class="buttons" name="textarea" rows="8" cols="80"></textarea>
          <button class="buttons btn deep-orange darken-4" type="submit" name="button">Post!</button>
        </form>

      </div>
    </div>

    <main class="container">
      <h2 class="center-align">gabs</h2>
      <br>
      {{#results}}
      <div class="center-align borderline">
        <h5 class="blue-text text-darken-3">{{text}}</h5>
        <p>Post by <strong>{{users.name}}</strong></p>
        <p>{{createdAt}}</p>

          {{#can_delete}}
            <form class="" action="/deletepost" method="post">
              <input type="hidden" name="id" value="{{id}}">
              <button class="btn red darken-2" type="submit" name="button">delete</button>
            </form>
          {{/can_delete}}

          {{^can_delete}}
          {{/can_delete}}



            <form class="" action="likeButton" method="post">
              <button class="btn" type="submit" name="button"><i class="material-icons">thumb_up</i></button>
            </form>

        <br>
      </div>
      {{/results}}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </body>
</html>
